.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Dashboard-container {
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  min-height: 100vh;
}

.Example-Container {
  margin-bottom: 20px;
  align-items: center;
  flex-direction: column;
  display: flex;
  min-height: 80vh;
}

.Example-Header {
  align-self: flex-start;
  font-size: large;
  margin-bottom: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
